- let t = locals.config.variables.template
include ../partials/channel.pug
|{%set current_channel = #{t.USERS.SELF.CURRENT_CHAT} %}
|{%- if #{t.CHANNELS.SELF} -%} 
| 	{%- for channel in #{t.CHANNELS.SELF} -%}
+channelItem("{{channel}}", true, true)(class="{% if channel == current_channel %}list__item--active{% endif %}")
|		{%- endfor -%} 
|{%- endif -%}
|{%- if #{t.CHANNELS.ALL} and #{t.CHANNELS.SELF}-%}

|		{%- for channel in #{t.CHANNELS.ALL}.difference(#{t.CHANNELS.SELF}) -%}
+channelItem("{{channel}}", false, false)
|		{%- endfor -%} 

|{%- else -%}

|		{%- for channel in #{t.CHANNELS.ALL} -%}
+channelItem("{{channel}}", false, false)
|		{%- endfor -%} 

|{%- endif -%}
